<% content_for 'tasks' do %>
  <li>
    <%= link_to 'List of Galleries', admin_galleries_url, :class => "current" %>
  </li>
  <li>
    <%= link_to 'Add a Gallery', new_admin_gallery_url %>
  </li>
  <li>
    <%= link_to 'Add a Gallery by files in server', :controller => 'admin/galleries', :action => 'new_by_mass_upload' %>
  </li>
<% end %>

<h2>List of Galleries</h2>

<%= flash_notice %>

<div id="admin_table" class="list">
  <% if @galleries.empty? %>
  <% else %>
    <table>
      <tbody>
        <tr class="first">
          <th class="first">Name</th>
          <th>Number of Pictures</th>
          <th>Status</th>
          <th>View</th>
          <th>Edit</th>
          <th class="last">Delete</th>
        </tr>
        <% @galleries.each do |gallery| %>
          <tr class="<%= cycle('shade', '') %>" >
            <td><%= link_to h(gallery.name), admin_gallery_url(gallery) %></td>
            <td><%=h gallery.pictures.size %> </td>
            <td><%=h status_value(gallery.status)%> </td>
            <td class ="operation"><%= link_to image_tag('/images/admin/show.png'), admin_gallery_url(gallery) %></td>
            <td class="operation"><%= link_to image_tag('/images/admin/edit.png', :title => 'Edit gallery', :alt => 'edit'), edit_admin_gallery_url(gallery) %></td> 
            <td class="operation last" ><%= link_to image_tag('admin/delete.png', :title => 'Remove gallery', :alt => 'remove'), {:action => 'destroy', :id => gallery}, :method => 'delete', :confirm => "are you sure ?" %></td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
