<% @page_title = "#{@gallery.name}" %>

<% content_for 'tasks' do %>
  <li>
    <%= link_to 'List of Galleries', admin_galleries_url %>
  </li>
  <li>
  <%= link_to "Edit gallery #{@gallery.name}", edit_admin_gallery_url(@gallery) %>
  </li>
  <li>
    <%= link_to 'Add Picture', new_admin_gallery_picture_url(@gallery) %>
  </li>
<% end %>

<h2>Gallery : <%=h @gallery.name %></h2>

<% unless @gallery.description.empty? -%>
  <p>
    <b>Description:</b>
    <%=h @gallery.description %>
  </p>
<% end -%>

<% if @gallery.pictures.empty? -%>
  <p>
    There are no picture in this gallery.
  </p>
<% else %>
  <ul id="picture_list">
    <% @pictures.each do |image| %>
      <li>
        <%= link_to (image_tag image.public_filename(:thumb), :alt => image.title), admin_gallery_picture_url(@gallery, image), :class => 'thumbnail' %>
        <% if image.status %>
          <span class="thumbnail"><%= image.title %><span>
          <br />
          <% image.description %>
        <% else %>
          <span class="thumbnail"><%= image.title %> (disabled)</span>
          <br />
          <% image.description %>
          <%= image_tag '/images/admin/error.png', :class => "no_display" %>
        <% end -%>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @pictures %>
<% end -%>
