<% @page_title = "All comments" %>

<h2>List of Comments</h2>

<div id="comment_table" class="list">
  <table>
    <tbody>
      <tr class="first">
        <th class="first">Picture title</th>
        <th>Gallery name</th>
        <th>Author</th>
        <th>Body</th>
        <th class="last">IP address</th>
      </tr>
      <% @comments.each do |comment| %>
        <tr class="<%= cycle('shade','') %>">
          <td><%= link_to(h(comment.picture.title), admin_picture_url(comment.picture)) %></td>
          <td><%=h comment.picture.gallery.name %></td>
          <td><%=h comment.author %></td>
          <td><%=h comment.body %></td>
          <td><%=h comment.ip %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @comments %>
