<% @page_title = "All comments" %>

<h2>List of Comments</h2>

<%= flash_notice %>

<div id="comment_table" class="list">
  <table>
    <tbody>
      <tr class="first">
        <th class="first">Picture title</th>
        <th>Gallery name</th>
        <th>Author</th>
        <th>Body</th>
        <th>IP address</th>
        <th>View</th>
        <th class="last">Delete</th>
      </tr>
      <% @comments.each do |comment| %>
        <tr class="<%= cycle('shade','') %>">
          <td><%= link_to(h(comment.picture.title), admin_picture_url(comment.picture)) %></td>
          <td><%= link_to(h(comment.picture.gallery.name), admin_gallery_url(comment.picture.gallery)) %></td>
          <td><%=h comment.author %></td>
          <td><%=h comment.body %></td>
          <td><%=h comment.ip %></td>
          <td class="operation">
            <%= link_to image_tag('admin/show.png', :alt => "show", :title => "Show content"), :controller => 'comments', :action => 'show', :id => comment.id %>
          </td>
          <td class="operation last"><%= link_to image_tag('admin/delete.png'), {:action => 'destroy', :id => comment.id}, :confirm => "Are you sure?", :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @comments %>
