<% content_tag :td, :id => "picture_#{picture.id}" do %>
  <%= link_to image_tag(picture.public_filename(:thumb), :style => "border:0px;"),
        gallery_picture_url(picture.gallery, picture),
        :style => 'display:block;' %>
  <span><%=h "#{picture.title}" %></span>
  <br />
  <% unless picture.description.blank? %>
    <span><%=h picture.description %></span>
    <br />
  <% end %>
  <span>Add : <%=h picture.created_at %> </span><br />
  <span><%= link_to(h("#{picture.comments.count} comments"), picture_url(picture, :anchor => 'comments')) %></span>
<% end %>
