<% @page_title = "Picture : #{@picture.title}" %>

<h2>Picture : <%= @picture.title %></h2>

<p>
  <span><%= image_tag(@picture.public_filename(:view)) %></span>
</p>

<p>
  <%= @picture.description %>
</p>

<h3>Comments</h3>

<ol id="comment_list">
  <%= render :partial => @picture.comments %>
</ol>

<%= flash_notice %>

<% form_for @comment, :url => {:action => 'create_comment'}, :html => {:id => 'commentform'} do |f| -%>
  <h3>Add Comment</h3>
  <%= error_messages_for 'comment' %>

  <div id='respond'>
    <p>
      <%= f.label :author %>
      <%= f.text_field :author %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>
    <p class="button">
      <%= f.hidden_field :picture_id %>
      <%= submit_tag %>
    </p>
  </div>
<% end %>
