<% @page_title = "Gallery : #{@gallery.name}" %>

<%= render :partial => 'top_show' %> 

<%= link_to 'Back to all galleries', galleries_path %>

<% if @sub_content.empty?-%>
  <p>
    There are no picture in this gallery.
  </p>
<% else %>
  <ul id="picture_list">
    <% @sub_content.each do |content| %>
      <% if content.kind_of? Picture %>
        <%= render :partial => 'pictures/picture', :locals => {:picture => content} %>
      <% else %>
        <%= render :partial => 'galleries/gallery', :locals => {:gallery => content} %>
      <% end %>
    <% end %>
  </ul>
  <%= will_paginate @sub_content %>
<% end -%>
