<% @page_title = "Gallery : #{@gallery.name}" %>

<% content_for(:head) do %>
  <%= auto_discovery_link_tag :atom, {:action => 'show', :format => 'atom'}, {:title => "#{this_webapp.webapp_name} - #{@gallery.name} : Atom Feed }"} %>
<% end %>

<%= render :partial => 'top_show' %> 

<% if @sub_content.empty?-%>
  <p>
    There are no picture in this gallery.
  </p>
<% else %>
  <table id="picture_list">
    <% @sub_content.each_slice(3) do |slice_content|  %>
      <tr>
        <% slice_content.each do |content| %>
          <% if content.kind_of? Picture %>
            <%= render :partial => 'pictures/picture', :locals => {:picture => content} %>
          <% else %>
            <%= render :partial => 'galleries/gallery', :locals => {:gallery => content} %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @sub_content %>
<% end -%>

<% unless @gallery.tag_counts.empty? %>
  <h2>Tags</h2>

  <% tag_cloud @gallery.tag_counts, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <%= link_to tag.name, { :controller => "tags", :action => "show", :id => tag.name }, :class => css_class %>
  <% end %>
<% end %>
