<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=h page_title %></title>
  <%= stylesheet_link_tag 'pictrails' %>
  <%= yield :head %>
</head>
<body>

  <div id="title">
    <h1><%= this_webapp.webapp_name %></h1>
    <span id="slogan"><%= this_webapp.webapp_subtitle%></span>
  </div>
  
  <div id="breadcrumb">
    <%= breadcrumbs %>
  </div>


  <div id="container">
    <div id="menubar">
      <dl>
        <dt>Galleries</dt>
        <dd>
          <ul>
            <% Gallery.all.each do |gallery| %>
              <li><%= link_to "#{gallery.title} [#{gallery.pictures.count}]", gallery_path(gallery) %></li>
            <% end %>
          </ul>
        </dd>
        <dt>Tags</dt>
        <dd>
          <% unless @tags.nil? || @tags.empty? %>
            <% if controller.controller_name == 'pictures' || 
                  controller.controller_name =='tags' %>
              <ul>
                <% @tags.each do  |tag| %>
                  <li><%= link_to tag, { :controller => "tags", :action => "show", :id => tag} %></li>
                <% end %>
              <ul>
            <% else %>
              <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
                <%= link_to tag.name, { :controller => "tags", :action => "show", :id => tag.name }, 
                                    :class => css_class %>
              <% end %>
            <% end %>
          <% else %>
            <p>There are no tag</p>
          <% end %>
        </dd>
      </dl>
    </div>

    <div id="content">
      <%= yield %>
    </div>
    
  </div>
  <p id="footer">powered by <a href="http://pictrails.rubyforge.org/">Pictrails</a></p>
</body>
</html>
